<%- include('../partials/header') %>

<h2>This is the create ticket page</h2>

<form action="/flights/<%= ticketId %>/tickets" method="POST">
  <label>Seat</label>
  <input name="seatNo" required pattern="[A-F][1-9]\d?" />
  <label>Price</label>
  <input type="text" name="price" />
  <input type="submit" value="Add Ticket" />
</form>

<%- include('../partials/footer') %>
